<template> 
   <div>
     
   </div>
</template>
            

<script>
    import { mapActions, mapGetters } from 'vuex'
    // import GoTop from '@inotom/vue-go-top';
    // import axios from 'axios'
    // import { bus } from '../main.js'
            export default {
                // components: {
                //     GoTop
                // },
                data() {
                    return {
                      
                    }
                },
                props: [],
                name: 'Home',
                computed:
                        {
                            ...mapGetters('auth', ['loggedIn', 'user']),
                            
                           
                            loggedIn() {
                                let loggedIn = !!localStorage.getItem('user')
                                return loggedIn
                            },
                            UserId() {
                                var user = JSON.parse(localStorage.getItem('user'));
                                return  user.user.id
                            },
                         
                        },
                methods: {
                    ...mapActions('list', ['loadLists', 'loadCategories', 'addList', 'createList', 'updateList', 'deleteList']),
                 
                },
                // watch on route query search
                watch: {
                 
                   
                },
                created() {
                    

                },
            }
</script>
