<template> 
<div>hi</div>

</template> 
<script> 
            export default {
                methods: {
                    scrollToTop() {
                        window.scrollTo(0, 0);
                    }
                },
              
                
                mounted() {
                    this.scrollToTop()
                },
                created() {
                    this.scrollToTop()
                },

            }
</script>
