<template> 
    <article id="post-body" class="norm h-entry mb-5 mt-5 ">
        <div class="e-content"><font style="vertical-align: inherit;">
          
<h1>Terms of Service</h1>

<p>You must be 18 years old to use this website. This website is provided free of charge to its users. No guarantees can be made as to the availability of the website, or the level of service. Your access to this website is subject to the discretion of the website owner. User accounts may be revoked by the website owner. User generated data is backed up, but no guarantees can be given to prevent loss of user generated data.</p>


</font>
</div> 
</article>
</template> 

<script> 
            export default {
                methods: {
                    scrollToTop() {
                        window.scrollTo(0, 0);  
                    }
                },
              
                
                mounted() {
                    this.scrollToTop()
                },
                created() {
                    this.scrollToTop()
                },

            }
          </script>