<template>
   <span>
        <div class="contact-container"> 
            <b-icon-chat font-scale="0.5" class="contact-button" @click="openNav()"></b-icon-chat>
        </div>
        <div id="myNav" class="overlay">
            <!-- Button to close the overlay navigation -->
            <a href="javascript:void(0)" class="closebtn" @click="closeNav()">&times;</a>

            <!-- Overlay content -->
            <div class="overlay-content">
                <p style="width: 90%; text-align: center">Hi👋, <br />Friendly and constructive feedback is always welcome. Send me a message with the form below.
                </p>

                <div data-paperform-id="contactmarcus"></div>

            </div>
        </div>
        </span>
</template>

<script>
            export default {
                methods: {
                    //Show/hide contact overlay
                    openNav() {
                        if (window.matchMedia('screen and (min-width: 1024px)').matches) {
                        document.getElementById("myNav").style.width = "30%";
                        }
                        else{
                        document.getElementById("myNav").style.width = "100%";
                        }
                        var script = document.createElement('script');
                        script.src = "https://paperform.co/__embed";
                        document.body.appendChild(script);
                    },
                    closeNav() {
                        document.getElementById("myNav").style.width = "0%";
                    }
                }
            }
</script>
