<template> 
    <div class="mb-3">
        <b-navbar toggleable="lg" type="dark" >
            <b-navbar-brand @click="emptysearchbar()" :to="{ name: 'home' }">LOGO</b-navbar-brand>
                <b-navbar-nav style="width:51%;" class="col-md-6 d-md-block d-lg-none d-sm-block">
                <!-- <NavSearchBar /> -->
                </b-navbar-nav>

            <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

            <b-collapse id="nav-collapse" is-nav>
                <div class="col-md-3 list-wrapper link1">
                </div>
                <b-navbar-nav class="col-md-5 d-sm-none d-md-none d-xs-none d-none d-lg-block">
                <!-- <NavSearchBar /> -->
                </b-navbar-nav>
                <div class="col-md-4 login-wrapper link1">     
                <b-navbar-nav  class="ml-auto" v-if="loggedIn">
                    <b-nav-item @click="logout" class="logout">Logout</b-nav-item>
                </b-navbar-nav>
                <b-navbar-nav class="ml-auto column_box" v-else>
                    <div class="section_1 common_sections">
                    <b-nav-item class="simple-link" :to="{ name: 'login' }"> Buy </b-nav-item>
                    <b-nav-item class="simple-link" :to="{ name: 'login' }"> Sell </b-nav-item>
                    <b-nav-item class="simple-link" :to="{ name: 'login' }"> Calculate </b-nav-item>
                    <b-nav-item class="simple-link" :to="{ name: 'login' }"> Help </b-nav-item>
                    </div>
                      <div class="section_2 common_sections">
                     <b-nav-item-dropdown class="simple-link" text="USA" right>
                        <b-dropdown-item href="#">USA</b-dropdown-item>
                        <b-dropdown-item href="#">IN</b-dropdown-item>
                        <b-dropdown-item href="#">AU</b-dropdown-item>
                        <b-dropdown-item href="#">CA</b-dropdown-item>
                        </b-nav-item-dropdown>
                         <b-nav-item-dropdown class="simple-link" text="En" right>
                        <b-dropdown-item href="#">EN</b-dropdown-item>
                        <b-dropdown-item href="#">ES</b-dropdown-item>
                        <b-dropdown-item href="#">RU</b-dropdown-item>
                        <b-dropdown-item href="#">FA</b-dropdown-item>
                        </b-nav-item-dropdown>
                      </div>
                    <b-nav-item><b-button class="navbar-button">Register</b-button></b-nav-item>
                    <b-nav-item :to="{ name: 'login' }"> <b-button class="navbar-button">Login</b-button></b-nav-item>
                </b-navbar-nav>
                </div>
            </b-collapse>
        </b-navbar>
    </div>
</template>
<script>
    import { mapActions, mapGetters } from 'vuex'
    // import NavSearchBar from '@/components/NavSearchBar'
    import { bus } from '../main.js'

            export default {
                methods: {
                    ...mapActions('auth', ['logout']),
                    emptysearchbar(){
                        bus.$emit('emptysearchbar');
                    }
                },
                computed: mapGetters('auth', ['loggedIn']),
                // components: {NavSearchBar},
            }
</script>
