<template> 
    <div class="footer text-center">
           <div class="container">
               <div class="columns">
                   <div class="row">
                       <div class="col-md-4  section1">
                           <div class="heading">LOGO</div>
                           <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum the printing and typesetting industry</p>
                       </div>
                       <div class="col-md-3 sections section2">
                           <div class="heading">Links</div>
                           <span class="blue-color-line"></span>
                           <ul>
                               <li>Work with us</li>
                               <li>Fees</li>
                               <li>Statistics</li>
                               <li> <b-link class="text-color" :to="{ name: 'termsofservice'}">Terms of service</b-link></li>
                               <li> <b-link class="text-color" :to="{ name: 'privacypolicy'}">Privacy policy</b-link></li>
                           </ul>
                       </div>
                       <div class="col-md-3 sections section3">
                           <div class="heading">Support</div>
                           <span class="blue-color-line"></span>
                           <ul>
                               <li> <b-link class="text-color" :to="{ name: 'contact'}">Contact Us</b-link></li>
                               
                               <li>Frequently Asked Questions</li>
                               <li>Guides</li>
                               <li>Recovered Password</li>
                              
                           </ul>
                       </div>
                       <div class="col-md-2 sections section4">
                           <div class="heading">Services</div>
                           <span class="blue-color-line"></span>
                           <ul>
                               <li>Languages</li>
                               <li>English</li>
                               <li>French</li>
                               <li>German</li>
                              
                           </ul>
                       </div>
                   </div>
               </div>
               <div class="row copyright">
                       <p>© Bitcoin 2020. Powered by Rcubinity</p>
                   </div>
           </div>
          
           <!-- <cookie-law theme="dark-lime"></cookie-law> -->
    </div>
</template>
<script>
    import { mapActions, mapGetters } from 'vuex'
    // import CookieLaw from 'vue-cookie-law' 

            export default {
                // components: { CookieLaw },
                methods: {
                    ...mapActions('auth', ['logout']),
                    
                },
                computed: mapGetters('auth', ['loggedIn']),
            }
</script>
