// Colors

$text-color: #ffffff;
$blue-color: #00AAFF;

//Footer
.footer{
    bottom: 0;
    width: 100%;
    background-color: transparent;
    // height: 56px;
    color: $text-color;
    padding: 0rem 0rem;
    margin-top: 100px;
    .container{
        max-width: 100%;
        .columns{
            width:70%;
            margin: auto;
            margin-bottom: 30px;
            .row{
                width: 100%;
                margin: auto;
                justify-content: space-between;
            .section1{
                .heading{
                
                    text-align: left;
                    font: normal normal normal 25px/38px Poppins;
                    letter-spacing: 2px;
                    color: #00A2FF;
                    opacity: 1;
                }
                p{
                    margin-top: 15px;
                    text-align: left;
                    font: normal normal 300 16px/37px Poppins;
                    letter-spacing: 0px;
                    opacity: 1;
                }
            }
            .sections{
                .heading{
                    margin-bottom: 10px;
                    font: normal normal normal 20px/32px Poppins;
                    letter-spacing: 0px;
                    opacity: 1;
                    width: 100%;
                    text-align: left;  
                    margin: auto;
                    // border-bottom: 1px solid#00A2FF;
                }
                .blue-color-line{
                    border-bottom: 3px solid #00A2FF;
                    height: 1px;
                    width: 25%;
                    display: block;
                }
                ul{
                    margin-top: 15px;
                    list-style: none;
                    width: 100%;
                    padding-left: 0;
                    li{
                        width: 100%;
                        margin: 0 auto;
                        text-align: left;
                        font: normal normal 300 16px/37px Poppins;
                        letter-spacing: 0px;
                        opacity: 1;
                        .text-color{
                            color: $text-color;
                            &:hover{
                                color: #00AAFF;
                            }
                        }
                    }
                }
            }
            .column{
                margin-top: 5px;
                a{
                    color: $text-color;
                    display: inline-block;
                    padding-bottom: 0.3125rem;
                    font-size: 1.25rem;
                    line-height: inherit;
                    white-space: nowrap;
                    text-decoration: none;
                    margin: auto 15px; 
                } 
            }
        }
        }
        .copyright{
            background-color: #0F0F0F;
            p{
                text-align: center;
                font: normal normal 300 14px/32px Poppins;
                letter-spacing: 0px;
                opacity: 1;
                width: 100%;
                color: #DFDFDF;
                margin: 0;
            }
        }
    }
}

// BitCoin
.blue-button{
    background-color: #007bff;
    &:hover{
        background-color: #47b784;
    }
}
.logout {
    a{
        color: #007bff !important;
        &:hover{
           color: #007bff !important;
        }
    }
   
}
.was-validated .form-control:invalid, .form-control.is-invalid{
    border-color:  #ced4da;
    background-image: none;
}
.text-align-right{
    text-align: right;
}
.loginPage {
    display: flex;
    .main-container{
        .card{
            border: none;
            width: 484px;
            margin-left: 73px;
            height: 718px;
            background: transparent;
            .card-body{
                font-family: Poppins;
                background: #020e14;
                // background: transparent linear-gradient(180deg, #00AAFF12 0%, #00558029 100%) 0% 0% no-repeat padding-box;
                border: 1px solid #00AAFF5C;
                border-radius: 22px;
                opacity: 1;
                padding-left: 50px;
                padding-right: 50px;
                .card-text{
                    color: $text-color;  
                    font-size: 18px;
                    font-family: Poppins-ExtraLight, Poppins;
                    font-weight: 200;
                    a{
                        color: #00AAFF;
                        font-size: 18px;
                        font-family: Poppins-ExtraLight, Poppins;
                        font-weight: 200;
                        letter-spacing: 0.056em;
                        margin-left: 10px;
                    }
                    
                }
                .card-title{
                    color: $text-color;
                    text-align: left;
                    font: normal normal 300 34px/79px Poppins;
                    letter-spacing: 1.9px;
                    opacity: 1;
                    margin-bottom: 0;
                    margin-top: 37px;
                }
                form{
                    #email-group{
                        margin-bottom: 50px;
                        margin-top: 10px;
                    }
                    #password-group{
                        margin-bottom: 30px;
                    }
                    .form-control{
                        background: none;
                        border: none;
                        border-bottom: 1px solid #666e71;
                        color: #ffffff;
                        border-radius: 0;
                        &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                            color: #ffffff;
                            opacity: 1; /* Firefox */
                          }

                    }
                    // padding-top: 65px! important;
                    .card-text{
                        font-size: 14px;
                        margin-right: 20px;
                        margin-bottom: 75px;
                    }
                    padding-top: 30px;
                  
                    #recaptcha{
                        margin-top: 45px;
                        .recaptcha_div{
                            width: 100%;
                            .re_div{
                                width: 100%;
                               div{
                                   width: 100% !important;
                                   text-align: center;
                                   iframe{
                                    // width:100%;
                                    
                                        .rc-anchor-normal{
                                            width: 100%;
                                            text-align: center;
                                            border-radius: 20px;
                                            margin: auto;
                                            .rc-anchor-normal-footer{
                                                margin: 10px 10px;
                                                .rc-anchor-pt{
                                                    display: none;     
                                                }
                                            }
                                        }
                                }
                               }
                                   
                                     
                            }
                        }

                    }
                    .signin{
                        margin-top: 24px;
                        margin-bottom: 40px;
                        margin-top: 40px;
                        margin-bottom: 40px;
                       
                        height: 59px;
                        fill: rgb(0, 123, 184);
                        border-radius: 10px;
                        box-shadow: none;
                    }
                
                }
            }
        }
    }
}


// Register Page
.registration {
    display: flex;
    .card{
        background: transparent linear-gradient(180deg, #00AAFF12 0%, #00558029 100%) 0% 0% no-repeat padding-box;
    border: 1px solid #00AAFF5C;
    border-radius: 22px;
    opacity: 1;
    .card-body{
       .card-title{
        margin-bottom: 20px;
        }
    }
    }
}
// Navbar
.navbar{
    margin: 45px 23px;
    background-color: transparent;
    .login-wrapper{
        margin-top: 5px;
    margin-left: 12px;
    }
    .common_sections{
        margin-top: 10px;
        display: flex;
    }
    .section_1{
        margin-right: 25px;
    margin-left: 25px;
    }
    .section_2{
        margin-left: 10px;
    margin-right: 16px;
    }
        .simple-link{
            margin-left: 5.5px;
            margin-right: 6px;
            padding: 1px 5px 1px 5px;
        a{
            font-size: 16px;
            font-family: Poppins-ExtraLight, Poppins;
            font-weight: 200;
            color:#ffffff !important;
        }
    }
    .navbar-brand{
        margin-left: 1rem;;
        color: #007bff;
        // transform: translate(54%, 91%);
        fill: rgb(0, 162, 255);
        font-size: 24.5px;
        font-family: Poppins-Regular, Poppins;
        letter-spacing: 0.08em;
        &:hover{
            color: #007bff;
        }
    }
    .navbar-button{
        color: #007bff;
        background-color: transparent;
        border-color: #007bff;
        font-size: 14px;
        width: 125px;
        stroke: none;
        height: 41px;
        padding-top: 6px;
        padding-left: 0px;
        padding-right: 4px;
    }
    .navbar-button:hover{
        background-color: #007bff;
        border-color: #007bff;
        color: #fff;
    }
    .input-group-prepend{
        .input-group-text{
            background-color: #fff;
            color: #afacb3;
            font-size: smaller;
        }
    }
    input{
        border-left: 0;
    }
}
html{
    // background-image: url(../assets/images/darktheme-login.svg);
    background-color: #000000;
}
html:before{
    width: 100%;
    content: "";
    background-image: url(../assets/images/backgrnd-dark.jpg); 
    position: absolute;
    left: 0;
    top: 0;
    height:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
